# 가상환경 폴더를 제외합니다.
modeling_myenv/
*.tar.gz
# Python 관련 기본적인 무시할 파일들
__pycache__/
*.py[cod]
*.so
# 환경 설정 파일 및 숨김 파일들
*.env
.env
*.DS_Store
# Jupyter Notebook 체크포인트
.ipynb_checkpoints/
# 패키지 및 라이브러리
*.egg
*.egg-info/
dist/
build/
# 로그 파일
*.log
# IDE 관련 파일
.vscode/
.idea/
# 데이터 파일 (CSV)
*.csv
#jpg 파일
*.jpg
